@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xDwxUD2GFw.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }
 @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v20/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    background-color: #FFF5EE;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3% 3% 2fr 2fr ;
    grid-gap: 1em;
    justify-items: center;
    align-items:center;
    font-family: Quicksand;
}

.wrapper > div{
    background:cadetblue;
    padding: 1em;
}

.wrapper > div:nth-child(odd){
    background: chocolate;

}

.nav {
    grid-column: 1/ span 2;
    grid-row: 1;
}

.header {
    grid-column: 1/ span 2;
    grid-row: 2;
}

.imageWrap {
    position: relative;
    width: 500px;
    height: 500px;
}
.imageDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: darkslategrey;
    color:whitesmoke;
    visibility: hidden;
    opacity: 0;
}
.imageWrap:hover .imageDescription {
    visibility: visible;
    opacity: .7;
}
img {
    width: 500px;
    height: 500px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}